DATABASE_URL=postgresql://database_url_ffsd_user:bWZAXjn2cp5YsWgvjhVU1bnLNr1aCAkq@dpg-daoflbv40ujc73f4kgs0-a/database_url_ffsd
CORS_ORIGINS=https://sales-revenue-analysis-dashboard-eight.vercel.app
MAX_UPLOAD_SIZE_MB=10
